.green {
    border: green solid 3px;

}

.red {
    border: red solid 3px;

}

.orange {
    border: orange solid 3px;

}

.orange,
.green,
.red {
    /* width: 40%; */
    height: 30%;
    border-radius: 25px;
    margin: auto;
    padding: auto;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-wrap: wrap;
}

#div {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; */
width: 100%;
/* top:0;
left:0; */
padding: 0;

}

.makeStyles-root-1 {
    max-width: unset !important;
    margin: unset !important;
}
.css-tlc64q-MuiPaper-root-MuiDialog-paper{  
      background-color: #dd476f47 !important;
      text-align: center  !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    background-color: white !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{  
      background-color: white !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    background-color: white !important;

}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    color:white  !important;
    background-color: black !important;


}
.MuiTypography-h6{
    color:black  !important;

}
.swal2-container {
    z-index: 99999; /* Set a high z-index value */
  }
  